body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    max-width: 1440px;
    word-spacing: 2px;
    background-color: hsl(217, 54%, 11%);
}
.all-container {
    background-color: hsl(216, 50%, 16%);
    max-width: 300px;
    min-width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
}

.equilibrium-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
}
.equilibrium-img:hover {
    background-image: url("../images/image-equilibrium.jpg"),url("../images/icon-view.svg");
    background-color: hsl(178, 100%, 32%);
    border-radius: 10px;
    background-blend-mode: soft-light, normal;
    background-size: cover,auto;
    background-repeat: no-repeat;
    background-position: center;
}
hr {
   background-color: hsl(215, 32%, 27%);
   margin: 16px 0;
}
h1, span {
    color: hsl(0, 0%, 100%);
}
h1 {
    font-size: 24px;
    font-weight: 700;

}
.product-display-container {
    display: flex;
    max-height: 24px;
}
p.product-price {
    align-self: center;
    margin-right: auto;
    margin-left: 8px;
}
p.product-expire-date {
    align-self: center;
    margin-left: 8px;
}
p {
    color: hsl(215, 51%, 70%);
    text-align: left;

}
.creator-display-container {
    display: flex;
}
.creator-display-container > img {
    width: 42px;
    height: 42px;
    border-radius: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    display: inherit;
}
.creator-display-container .product-creator {
    line-height: 16px;
    margin: 14px 16px;
}
h1:hover, span:hover {
    color: hsl(178, 100%, 50%)
}