body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    max-width: 1440px;
    background-color: hsl(217, 54%, 11%);
}
.all-container {
    background-color: hsl(216, 50%, 16%);
    max-width: 332px;
    min-width: 332px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    margin-left: 16px;
    margin-top: 16px;
}
.equilibrium-img {
    margin-left: 16px;
    margin-top: 16px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
}
.equilibrium-img:hover {
    background-image: url("../images/image-equilibrium.jpg"),url("../images/icon-view.svg");
    background-color: hsl(178, 100%, 32%);
    background-blend-mode: soft-light, normal;
    background-size: contain,auto;
    background-repeat: no-repeat;
    background-position: center;
}
hr {
   background-color: hsl(215, 32%, 27%);
    margin: 16px 16px;
}
h1, span {
    color: hsl(0, 0%, 100%);
}
h1 {
    font-size: 24px;
    font-weight: 700;
    margin-left: 12px;
}
p.product-price {
    color: hsl(178, 100%, 50%);
    margin-right: 84px;
    margin-left: 8px;
    display: inline;
}
p.product-expire-date {
    margin-left: 8px;
    display: inline;
}
p {
    color: hsl(215, 51%, 70%);
    text-align: justify;
    margin-left: 12px;
    margin-right: 12px;
}
.creator-display-container {
    display: flex;
}
.creator-display-container > img {
    width: 42px;
    height: 42px;
    border-radius: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    margin: 0 0 32px 16px;
}
.creator-display-container .product-creator {
    line-height: 16px;
    margin: 16px 0 0 16px;
}
h1:hover, span:hover {
    color: hsl(178, 100%, 50%)
}